.menue{
    grid-column: 3/4;
    grid-row: 1/6;
}


.menue_startButton{
    border-left: none;
    border-right: 0.1vw whitesmoke solid;
}

.menue_startButton:hover{
    border: none;
    border-top: 0.1vw whitesmoke solid;
    border-left: 0.1vw whitesmoke solid;
}


.menue_textAuswahl{
    border-left: none;
    border-right: 0.1vw whitesmoke solid;
}

.menue_zeitAuswahl:hover,
.menue_textAuswahl:hover{
    border: none;
    border-top: 0.1vw whitesmoke solid;
    border-left: 0.1vw whitesmoke solid;
}


.menue_zeitAuswahl{
    border-left: none;
    border-right: 0.1vw whitesmoke solid;
}
