.footer {
  background-color: $bg;
  color: $schrichft-farbe;
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: 2vw;

  .dis-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 5vw;
  }

  .border {
    border-bottom: 0.1vw $rahmen-farbe solid;
    border-top: 0.1vw $rahmen-farbe solid;
  }
}
