
/* Tasten Rechts*/
.tasta{
    grid-column: 4/9;
    grid-row: 2/6;
}

.taste{
    border-right: none;
    border-left: 0.1vw whitesmoke solid;
}

.tasta_taste-1{
    grid-column: 2;
}

.tasta_taste-blau{
    grid-column: 2;
    border-color: blue;
}

.tasta_taste-2{
    grid-column: 4;
}


.tasta_taste-4{
    grid-column: 8;
}

.tasta_taste-5{
    grid-column: 10;
}



.tasta_taste-gelb{
    grid-column: 4;
    border-color: yellow;
}

.tasta_taste-rot{
    border-color: red;
}

.tasta_taste-9{
    border-color: darkblue;
}

.tasta_taste-10{
    grid-column: 8;
    border-color: darkblue;
}

.shift{
    border: none;
}

.green{
    border: none;
} 
